@mixin flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow($color, $size) {
  -webkit-box-shadow: 0 0 $size $color;
  -moz-box-shadow: 0 0 $size $color;
  box-shadow: 0 0 $size $color;
}
